<div class="container-sm">
  <div>
    <div class="text-bg-secondary text-center p-3 mb-3">Ingrese un producto</div>
  </div>
  <form id="data">
    <div class="mb-4">
      <label for="title" class="form-label">Producto:</label>
      <input type="text" class="form-control" id="title">
    </div>
    <div class="mb-4">
      <label for="price" class="form-label">Precio</label>
      <input type="number" min=0 step=0.01 class="form-control" id="price">
    </div>
    <div class="mb-4">
      <label for="thumbnail" class="form-label">URL foto producto: </label>
      <input type="text" class="form-control" id="thumbnail">
    </div>
    <button type="button" class="btn btn-primary" id="guardar">Guardar</button>
  </form>
</div>