<div class='container mt-5 bg-info'>
    <div class='row'>
        <div class='col' id="centro-mensajes">
            <legend class="mx-3 fs-1 fw-bold" id="formLegend">Centro de Mensajes (Compresión: %)</legend>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Ingrese su correo" aria-label="Username" id="email">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese su nombre" aria-label="Nombre" id="nombre">
            </div>
             <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese su apellido" aria-label="Apellido" id="apellido">
            </div>
            <div class="input-group mb-3">
                <input type="number" class="form-control" placeholder="Ingrese su edad" aria-label="Edad" id="edad">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese su alias" aria-label="Alias" id="alias">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese dirección URL avatar" aria-label="Alias" id="avatar">
            </div>
            <div class="input-group mb-3">
                <textarea class="form-control" id="mensaje" placeholder="Ingrese su mensaje"></textarea>
            </div>
            <button type='button' class='btn btn-primary mb-3' id="enviar">Enviar</button>
        </div>
        <div class="input-group mb-3" id="chat"></div>
    </div>
</div>