<div class='container mt-5'>
    <div class='row'>
        <div class="text-bg-secondary text-center p-3 mb-3">Listado de productos</div>
        <div class='col'>
            <table class="table table-success table-striped">
                <thead class='table-dark'>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </thead>
                <tbody id="lista">
                </tbody>
            </table>
        </div>
    </div>
</div>